.fancybox
	&-tabs-modal
		+breakpoint-up-to-md()
			left 10px !important
			right 10px !important
			top 46px !important

		+breakpoint-md()
			width 100% !important
			max-width 966px

		.fancybox-inner
			width 100% !important

		.fancybox-close
			size(40px,40px)
			bgimage('icons/icon-close-white.svg')
			top -40px
			right 0
			position absolute
			background-position center
			background-size contain

			+breakpoint-md()
				size(70px,70px)
				top -70px
				right -70px
