//.info-section
//	&__row
//		+breakpoint-md()
//			make-row()
//
//		&--reverse
//			+breakpoint-up-to-md()
//				display flex
//				flex-direction column-reverse
//
//	&__col-2-5,
//	&__col-3-5
//		+breakpoint-md()
//			make-col-ready()
//
//	&__col-3-5
//		+breakpoint-md()
//			make-col(7)
//			margin-bottom 0
//
//	&__col-2-5
//		+breakpoint-md()
//			make-col(5)
//			margin-bottom 0



