.btn
	btn-style()

.btn-light
	btn-style($text-color, transparent, 7px, 600)
	border 2px solid $gray--lightest

.btn-wrapper
	text-align center
	margin-top 30px

	+breakpoint-lg()
		margin-top 50px