.fancy-media
	.fancybox-close
		size(21px,21px)
		right -30px
		top -30px
		background-size contain
		background-repeat no-repeat
		background-image url('../../../templates/main/assets/images/icons/icon-close-red.svg')

	.fancybox-skin
		padding 20px !important