.dotted
	color $color-highlighted--secondary
	border-bottom  1px dotted $color-highlighted--secondary

	&:hover
		color $color-highlighted
		border-bottom-color  $color-highlighted

.bordered
	border-bottom 1px solid $color-highlighted--secondary