.bordered-links-list
	margin-bottom 0

	&__item
		&:not(:last-child)
			margin-bottom 8px

.checked-list
	margin-bottom 0

	> li
		position relative
		padding-left 29px

		&::before
			pseudo(absolute,15px,10px)
			bgimage('/icons/icon-checked.svg')
			background-size contain
			left 0
			top 8px

		&:not(:last-child)
			margin-bottom 14px


	&--mb10
		> li
			&:not(:last-child)
				margin-bottom 10px

	&--lg-font
		> li
			font-rem(18)
			line(28,18)

.checked-bullet-list
	> li
		font-rem(16)
		line(24,16)
		position relative
		padding-left 41px

		&:not(:last-child)
			margin-bottom 13px

		&::before
			content ''
			position absolute
			size(26px,26px)
			radius(50%)
			bgimage('icons/icon-checked-white.svg')
			top 50%
			margin-top -13px
			left 0
			background-position center
			background-color #F9B543

	&--green
		>li
			&::before
				background-color #9CC801



