.tooltipster-sidetip.tooltipster-light-customized
	.tooltipster-box
		radius(5px)
		shadow(0 10px 20px rgba(0, 0, 0, 0.1))
		margin-bottom 0
		border 1px solid rgba(21, 36, 56, 0.15)
		background-color $section-bg-lightest

	.tooltipster-content
		font-rem(15)
		line(20,15)
		//overflow hidden
		padding 20px
		color $text-color

	.tooltip
		display block

.tooltipster-sidetip.tooltipster-light-customized.tooltipster-top
	.tooltipster-arrow-background
		border-top-color $section-bg-lightest !important

	.tooltipster-arrow-border
		border-top-color $section-bg-lightest !important

.tooltipster-sidetip.tooltipster-light-customized.tooltipster-bottom
	.tooltipster-arrow-background
		border-bottom-color $section-bg-lightest !important

	.tooltipster-arrow-border
		border-bottom-color $section-bg-lightest !important

.tooltipster-sidetip
	height auto !important

.tooltip
	display none


