normalize()

html
	height 100%
	font-size 100%
	line-height 1.5
	font-family $primary-font-family
	box-sizing border-box
	-webkit-font-smoothing antialiased

*,
*:before,
*:after
	box-sizing inherit

body
	height 100%
	margin 0
	padding 0
	background-color $white
	color $text-color

	&.is-open-menu
		overflow hidden

h1,
h2,
h3,
h4,
h5,
h6
	margin-top 0
	margin-bottom 20px

	+breakpoint-md()
		margin-bottom 30px

p
	margin-bottom 10px

	&:last-child
		margin-bottom 0

img
	max-width 100%
	height auto
	max-height 100%

address
	font-style normal

// Классы-хелперы

.hide-xs
	display none


.hide-up-to-sm
	+breakpoint-up-to-sm()
		display none
		height 0


.hide-up-to-md
	+breakpoint-up-to-md()
		display none



.hide-up-to-lg
	+breakpoint-up-to-lg()
		display none


.hide-up-to-xl
	+breakpoint-up-to-xl()
		display none


.hide-xs
	display none


.hide-sm
	+breakpoint-sm()
		display none


.hide-md
	+breakpoint-md()
		display none


.hide-lg
	+breakpoint-lg()
		display none


.hide-xl
	+breakpoint-xl()
		display none

.text-center
	text-align center

.text-left
	text-align left

.text-right
	text-align right

.bold
	font-weight 700

.semi-bold
	font-weight 600

.white-color
	color $white

.light
	font-weight 300

.text-small
	font-rem(14)
	line(22,14)
	
.centered
	display flex
	align-items center
	justify-content center

.lead
	@extend .light

	&--white
		@extend .white-color

.lead-lg
	@extend .lead
	font-rem(20)
	line(25,20)

	+breakpoint-md()
		font-rem(36)
		line(48,36)

.lead-md
	@extend .lead
	font-rem(28)
	line(34,28)

	+breakpoint-md()
		font-rem(30)
		line(38,30)


ul
	list-style none
	padding 0
	margin-top 0

a
	color $text-color
	text-decoration none


p
	margin-top 0

.page-overlay
	display none

	&.is-open-menu
		display block
		position fixed
		top 0
		bottom 0
		right 0
		left 0
		background-color rgba(34, 44, 72, 0.5)

.col-md
	+breakpoint-up-to-md()
		&:not(:last-child)
			.checked-list
				margin-bottom 14px /*@Todo: ещё подумать*/