normalize()

html
	height 100%
	font-size 100%
	line-height 1.5
	font-family $primary-font-family
	box-sizing border-box
	-webkit-font-smoothing antialiased

*,
*:before,
*:after
	box-sizing inherit

body
	height 100%
	margin 0
	padding 0
	background-color $white
	color $text-color
	padding-top 60px

	+breakpoint-lg()
		padding-top 0

	&.is-open-menu
		overflow hidden

h1,
h2,
h3,
h4,
h5,
h6
	margin-top 0
	margin-bottom 20px

	+breakpoint-md()
		margin-bottom 30px

p
	margin-bottom 10px
	margin-top 0

	&:last-child
		margin-bottom 0

ul
	list-style none
	padding 0
	margin-top 0

a
	color $text-color
	text-decoration none


img
	max-width 100%
	height auto
	max-height 100%

address
	font-style normal

// Классы-хелперы

.hide-xs
	display none


.hide-up-to-sm
	+breakpoint-up-to-sm()
		display none
		height 0


.hide-up-to-md
	+breakpoint-up-to-md()
		display none



.hide-up-to-lg
	+breakpoint-up-to-lg()
		display none


.hide-up-to-xl
	+breakpoint-up-to-xl()
		display none


.hide-xs
	display none


.hide-sm
	+breakpoint-sm()
		display none


.hide-md
	+breakpoint-md()
		display none


.hide-lg
	+breakpoint-lg()
		display none


.hide-xl
	+breakpoint-xl()
		display none

.text-center
	text-align center

.text-left
	text-align left

.text-right
	text-align right

.bold
	font-weight 700

.text-gray
	color  $text-color--secondary

.semi-bold
	font-weight 600

.white-color
	color $white

.light
	font-weight 300

.text-small
	font-rem(14)
	line(22,14)

.mb-50-md
	+breakpoint-md()
		margin-bottom 50px
	
.centered
	display flex
	align-items center
	justify-content center

.remark
	font-rem(14)
	line(20,14)
	//@extend .white-color
	width 100%

	+breakpoint-md()
		line(28,14)

.remark-red
	font-rem(18)
	line(32,18)
	spacing(18,0.1)
	@extend .semi-bold
	color $color-highlighted
	text-transform uppercase


.column-reverse-up-to-md
	+breakpoint-up-to-md()
		display flex
		flex-direction column-reverse

.img-wrapper
	img
		radius(10px)
		vertical-align middle
		box-shadow $box-shadow

	&--no-shadow
		img
			box-shadow none

.page-overlay
	display none

	&.is-open-menu
		display block
		position fixed
		top 0
		bottom 0
		right 0
		left 0
		background-color rgba(34, 44, 72, 0.5)

.col-md
	+breakpoint-up-to-md()
		&:not(:last-child)
			.checked-list
				margin-bottom 14px /*@Todo: ещё подумать*/
