.lead
	@extend .light
	margin-bottom 0

	&--white
		@extend .white-color

	&--center-md
		+breakpoint-md()
			text-align center

	&--center
		text-align center

.lead-lg
	@extend .lead
	font-rem(20)
	line(25,20)

	& + *
		margin-top 20px

	& + [class^='btn']
		margin-top 30px

	+breakpoint-md()
		font-rem(36)
		line(48,36)

		& + *
			margin-top 30px

		& + [class^='btn']
			margin-top 50px

.lead-md
	@extend .lead
	font-rem(28)
	line(34,28)

	& + *
		margin-top 20px

	+breakpoint-md()
		font-rem(30)
		line(38,30)

		& + *
			margin-top 30px

.lead-sm
	@extend .lead
	font-rem(20)
	line(25,20)

	& + *
		margin-top 20px

	+breakpoint-md()
		font-rem(25)
		line(32,25)

		& + *
			margin-top 20px