include  ../global/_mixins

doctype html
html(lang="ru-RU" )
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title upravlenka
		link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="../include/css/main.min.css" media="screen")
		<!--[if IE]>
		script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
		<![endif]-->

	block variables

	body
		block header
			include ../global/header/header.pug

		block intro

		block main-content

		block footer
			include ../global/footer/footer.pug

		block modal
			.page-overlay

		block scripts
			script(type="text/javascript" src="../include/js/core.min.js")
			script(type="text/javascript" src="../include/js/main.min.js")
