mixin expert(expert)
	.expert
		.expert__img-holder
			img(src='../_include/assets/images/photos/'+ expert.imgSrc alt=expert.name)

		.expert__text
			h4.expert__name= expert.name
			p.expert__position= expert.position