.start-banner
	background-image linear-gradient(90deg, #FFF7EA 0%, #E1F797 100%)
	padding-bottom 25px
	padding-top 25px

	+breakpoint-lg()
		padding-bottom 50px
		padding-top 50px

	&__heading
		//margin-bottom 20px

		+breakpoint-md()
			line(63,46)

	&__row
		+breakpoint-md()
			make-row()

	&__right
		margin-top 20px

		+breakpoint-md()
			make-col-ready()
			make-col(7)
			margin-top 0

	&__left
		+breakpoint-md()
			make-col-ready()
			make-col(5)

	&__list
		margin-bottom 20px

		+breakpoint-lg()
			margin-bottom 35px

	&__footer
		+breakpoint-lg()
			display inline-block

	&__preview-text
		font-rem(18)
		line(28,18)
		margin-bottom 15px

	&__btn
		width 100%
		padding-left 35px
		padding-right 35px
		margin-bottom 5px

		+breakpoint-lg()
			width auto

	&__img-holder
		text-align center

		img
			vertical-align middle

	&__price
		+breakpoint-md()
			padding 0 7px

