section.section
	.container
		h2.heading-h1.heading-h2--center-md Анализируйте отчетность в бизнес-терминах
		p.lead-sm Деньги автоматически разносятся на проекты или статьи, а не только на юрлица.
		.img-wrapper
			+image('banners/img-banner-9.png','Анализируйте отчетность в бизнес-терминах')