include ../../../global/_mixins
section.product-section
	h2.heading-h2.heading-h2--center.product-section__title Один шаг к глубокому #[br.hide-up-to-md] пониманию бизнеса
	p.product-section__text.text-center Попробуйте Управленка и узнайте, как сервис поможет вам:
	.product-section__container
		.product-section__text-block-wrap
			.product-section__text-block
				p Понять, куда на самом деле уходят и откуда приодят днеьги в бизнесе

			.product-section__text-block
				p Сконцентрироваться на реальных показателях бизнеса и перестать заниматься процессом получения данных

			.product-section__img-holder
				+image('banners/img-product-banner-2.png','1С:Бухаглтерия')

			.product-section__footer
				a(href='#').btn.product-section__btn Попробовать бесплатно
				div.remark.hide-up-to-lg Полный доступ на 14 дней
