include ../../../global/_mixins
.highlight-banner
	.container
		h2.heading-h2.heading-h2--sm Получите полный доступ на 14 дней #[br.hide-up-to-md] прямо сейчас
		a(href='#').btn-green.highlight-banner__btn Попробовать бесплатно