include ../../../global/_mixins
.highlight-banner.highlight-banner--no-figure
	.container
		.highlight-banner__decoration
			+image('icons/icon-dashboard.svg','Полный доступ на 14 дней')
		h2.heading-h1 Готовы попробовать?
		p.lead-md Поможем подобрать вместе с вами и настроить оптимальную структуру проектов и статей управленческого учета, подходящую именно вашему бизнесу
		a(href='#').btn.highlight-banner__btn Попробовать бесплатно
		div.remark.hide-up-to-md Полный доступ на 14 дней