.product-section
	bgimage('backgrounds/product-section-green@2x.png')
	//retina-bg('backgrounds/product-section-green@2x.png',2732px)
	background-size cover
	color $white
	text-align center

	+breakpoint-lg()
		text-align left

	&__container
		position relative
		margin 0 auto
		padding 50px 20px 50px 20px
		max-width 996px
		width 100%

		+breakpoint-lg()
			padding  46px 455px 49px 15px

	&__title
		margin-bottom 20px

	&__img-holder
		max-width 85%
		margin 0 auto 10px auto

		+breakpoint-lg()
			position absolute
			top 50%
			transform translateY(-50%)
			margin 0
			right 0
			max-width 477px

		+breakpoint-xl()
			right -41px

	&__footer
		+breakpoint-lg()
			display inline-block /*чтобы цетровать текст внутри*/
			text-align center

	&__btn
		padding-top 15px
		padding-bottom 15px
		width 100%

		+breakpoint-lg()
			padding 13px 47px
			width auto

	&__text
		@extend .light
		font-rem(28)
		line(34,28)
		margin-bottom 20px
		//margin-bottom 30px

		+breakpoint-md()
			font-rem(25)
			line(36,25)
			margin-bottom 40px