.product-section
	background-color $color-highlighted--secondary
	background-size cover
	color $white
	text-align center
	padding-top 50px
	padding-bottom 50px

	.product-section__card
		background-color darken(saturate($color-highlighted--secondary, 14.57), 11.96)

	&--black
		background-color $text-color

		.product-section__card
			background-color rgba(#5A5A5A, 0.3)

	&--light
		color $text-color
		background-image linear-gradient(90deg, #FFF1C6 0%, #FFD7CC 100%)
		background-repeat no-repeat

		+breakpoint-lg()
			background-image url("../assets/images/backgrounds/bg-peaces@2x.png"), linear-gradient(90deg, #FFF1C6 0%, #FFD7CC 100%)

		.product-section__card
			background-color $white

	+breakpoint-lg()
		bgimage('backgrounds/bg-peaces@2x.png')
		text-align left
		padding-top 46px
		padding-bottom 45px

	&__top
		margin-bottom 20px
		container()

		+breakpoint-lg()
			margin-bottom 40px /*по договоренности с дизайнером*/

	&__container
		position relative
		margin 0 auto
		padding 0 20px 0 20px
		max-width 966px
		width 100%

		+breakpoint-lg()
			padding  0 415px 0 15px

		&--lefted
			+breakpoint-lg()
				padding  0 15px 0 415px

			.product-section__img-holder
				+breakpoint-lg()
					left -53px
					right auto

			.product-section__wrap
				+breakpoint-lg()
					margin-left auto

	&__title
		margin-bottom 20px

	&__img-holder
		max-width 100%
		margin 0 auto 10px auto
		position relative

		img
			vertical-align middle

		+breakpoint-lg()
			position absolute
			top 50%
			transform translateY(-50%)
			margin 0
			right 0
			max-width 477px

		+breakpoint-xl()
			right -53px


		&--exel
			+breakpoint-lg()
				top -20px
				transform none

	&__footer
		+breakpoint-lg()
			display inline-block /*чтобы цетровать текст внутри*/
			text-align center

	&__btn
		width 100%

		+breakpoint-lg()
			min-width 363px

		&+.remark
			+breakpoint-lg()
				margin-top 10px

	&__text
		@extend .light
		font-rem(28)
		line(34,28)
		margin-bottom 20px
		//margin-bottom 30px

		+breakpoint-md()
			font-rem(25)
			line(36,25)
			margin-bottom 40px

	&__card
		radius(10px)
		@extend .text-left
		z-index 1
		position relative
		width 100%
		min-height 100px
		display flex
		align-items center
		padding 14px 16px 14px 31px

		&+&
			margin-top 10px

		&-num
			font-rem(60)
			line(82,60)
			@extend .light
			width 28px

			&--green
				color $color-highlighted--secondary

			&--orange
				color $color-highlighted--tertiary

			+breakpoint-md()
				font-rem(70)
				line(70,70)
				width 35px

		&-text
			width calc('100% - 28px')
			padding-left 20px

			+breakpoint-md()
				width calc('100% - 35px')
				padding-left 22px

	&__wrap
		+breakpoint-lg()
			max-width 426px

		.product-section__footer
			width 100%
			margin-top 20px