.slick
	&-slider
		position relative

	&-arrow
		size(32px,32px)
		radius(50%)
		text-hide()
		background-position center
		background-repeat no-repeat
		background-image url("../assets/images/icons/icon-arrow-right.svg")
		background-color $white
		outline none
		border 1px solid  $border-color