include ../../../global/_mixins
section.product-section
	.product-section__container
		h2.heading-h2.product-section__title Максимум пользы от&nbsp;бухгалтерии
		p.product-section__text Глубокая интеграция с 1С:Бухаглтерией позволяет выстроить управленческий учет полностью синхронизированный с бухглатерским
		.product-section__img-holder
			+image('banners/img-product-banner.png','1С:Бухаглтерия')
		.product-section__footer
			a(href='#').btn.product-section__btn Узнать больше
			div.remark.hide-up-to-lg Полный доступ на 14 дней
