include ../../../global/_mixins

section.section
	.container
		h2.heading-h2.heading-h2--center-md Ведущие эксперты сервиса «Управленка»
		p.lead-md.lead-md--center-md Наши опытные финансовые консультанты подскажут, с чего начать ведение управленческого учета и всегда готовы оказать помощь.

		.experts
			each expert in experts
				.experts__element
					+expert(expert)



