section.section
	.container
		h2.heading-h2.heading-h2--center Ведущие эксперты сервиса «Управленка»
		p.lead.lead--md.text-center Наши опытные финансовые консультанты подскажут, с чего начать ведение управленческого учета и всегда готовы оказать помощь.
