include ../../../global/_mixins

section.start-home
	.container
		.start-home__heading-wrapper
			p.start-home__subtitle «Управленка» ― сервис управленческого учета для малого и среднего бизнеса
			h1.start-home__heading Управляйте бизнесом,  опираясь на объективные данные

		a(href='#').btn.start-home__btn Попробовать бесплатно
		span.start-home__remark Полный доступ на 14 дней
		.start-home__img-wrapper
			+image('banners/img-banner.svg','Управленка')

