include ../../../global/_mixins

section.start-home
	.container
		h1.heading-h1.heading-h1--center Управляйте бизнесом, #[br.hide-up-to-md]  опираясь на объективные данные
		p.lead-lg «Управленка» ― сервис управленческого учета для малого и среднего бизнеса
		a(href='#').btn.start-home__btn Попробовать бесплатно
		div.start-home__remark.remark Полный доступ на 14 дней
		.start-home__img-wrapper
			+image('banners/img-banner.svg','Управленка', '1026', '658')

