include ../../../global/_mixins
section.section
	.container
		h2.heading-h2 Инструменты для достижения ваших бизнес-целей:
		.row-md.mobile-hidden
			.col-md.col-md--1-3.js-show-content.mobile-hidden__section
				h3.mobile-hidden__title.js-show-content__btn Автоматизация
				-
					var borderedLinksText =
					[
						'Автозагрузка выписок из банков-партнёров',
						'Авторазноска операций по статьям управленческого учёта',
						'Авторазноска операций по проектам и направлениям',
						'Управление кошельками с телефона',
						'Полная интеграция с банками-партнёрами',
						'Интеграция с 1С Интеграция с Telegram'
					];
				.mobile-hidden__content.js-show-content__content
					+bordered-links-list(borderedLinksText)

			.col-md.col-md--1-3.mobile-hidden__section.js-show-content__btn
				h3.mobile-hidden__title Управление денежными потоками
				-
					var borderedLinksText =
					[
						'Гибкая настройка управленческих аналитик',
						'Полнотекстовый поиск по операциям',
						'Доступ к отчётам и состоянием счетов из Telegram',
						'Консолидация денежных потоков',
						'Предупреждение кассового разрыва Мультивалютность'
					];

				.mobile-hidden__content.js-show-content__content
					+bordered-links-list(borderedLinksText)


			.col-md.col-md--1-3.mobile-hidden__section.js-show-content__btn
				h3.mobile-hidden__title Отчёты
				-
					var borderedLinksText =
					[
						'Движение денег ',
						'Платёжный календарь',
						'План-факт анализ',
						'Рентабельность бизнеса',
						'Рентабельность проектов',
						'Именованные отчёты',
						'Получение отчётов в Telegram'
					];

				.mobile-hidden__content.js-show-content__content
					+bordered-links-list(borderedLinksText)
