include ../../../global/_mixins
.highlight-banner.highlight-banner--no-figure
	.container
		.highlight-banner__decoration
			+image('icons/icon-rocket.svg','Полный доступ на 14 дней')
		h2.heading-h1.highlight-banner__heading Попробуйте бесплатно прямо сейчас
		p.lead.lead--lg Полный доступ на 14 дней
		a(href='#').btn-green.highlight-banner__btn Попробовать бесплатно
		p.text-small.hide-up-to-md Полный доступ на 14 дней