include ../../../global/_mixins

section.product-section.product-section--black
	.product-section__top
		h2.heading-h2.heading-h2--center Ведете управленческий учет в Excel?
		p.product-section__text.text-center Поможем переехать за 1 день, сохраним всю структуру данных и подскажем, что можно улучшить
	.product-section__container.product-section__container--lefted
		.product-section__wrap
			.product-section__card
				span.product-section__card-num.product-section__card-num--green 1
				p.product-section__card-text Усовершенствуем вместе с вами структуру учета в соответствии с потребностями управленческого учёта

			.product-section__card
				span.product-section__card-num.product-section__card-num--orange 2
				p.product-section__card-text Аккуратно перенесем структуру и логику табличного учета в Управленка и настроим все интеграции

			.product-section__img-holder
				+image('banners/img-banner-14.svg','Exel')

			.product-section__footer
				a(href='#').btn.product-section__btn Попробовать бесплатно
				div.remark.hide-up-to-lg Полный доступ на 14 дней