section.start-banner
	.container
		.remark-red Управленческий учет интегрированный с 1С
		h1.heading-h1 100% автоматизации

		.start-banner__row
			.start-banner__left
				- var checkedList= ['Доверьте сервису всю рутину формирования достоверной управленческой отчётности','Весь функционал сервиса доступен сразу после настройки','Экономьте время на разработке управленческого учёта в таблицах'];
				+list(checkedList)(class='checked-list checked-list--mb10 start-banner__list')
				.start-banner__footer
					a(href='#').btn.start-banner__btn Попробовать бесплатно
					.remark.text-center Полный доступ на 14 дней

			.start-banner__right
				.start-banner__img-holder
					+image('banners/img-banner-12.svg','100% автоматизации')