section.section
	.container
		h2.heading-h2.heading-h2--center-md Синергия с вашей 1С
		.img-wrapper.img-wrapper--no-shadow
			+image('banners/img-banner-13.svg','Управленка')

		.row-md
			.col-md.col-md--1-3
				- var checkedList= ['Автозагрузка плановых операций','Автозагрузка налогов, сборов и регулярных платежей (только для клиентов WA:Бухглатерия)'];
				+list(checkedList)(class='checked-list')

			.col-md.col-md--1-3
				- var checkedList= ['Автозагрузка зарплатных начислений','Автозагрузка счетов на оплату покупателями'];
				+list(checkedList)(class='checked-list')

			.col-md.col-md--1-3
				- var checkedList= ['Операции автоматически разносятся по проектам и статьям управленческого учета'];
				+list(checkedList)(class='checked-list')