include ../../global/_mixins
blockquote.speech
	h3.heading-h3.speech__title Лучшее от управленческого учета. Теперь доступно!
	p За 17 лет практики автоматизации управленческого учета мы реализовали более 50 крупных проектов. Весь полученный опыт мы упаковали в простой и функциональный сервис «Управленка», доступный малому бизнесу.
	p Уверен, что управленческий учет поможет вам видеть бизнес как на ладони, а значит сделать его прибыльнее, победить конкурентов, и, в конечном счете, предоставлять больше качественных продуктов и услуг вашим клиентам.

	footer.speech__footer
		.speech__author-img
			+image('/photos/img-ivan-tyagunov.png', 'Иван Тягунов')
		p.speech__author Иван Тягунов, серийный предприниматель, инвестор, основатель #[cite #[a(href='#').speech__company-name WiseAdvice CG ] ]