.form
	&__group
		margin-bottom 13px

		&+.form__footer
			margin-top 25px

			+breakpoint-md()
				margin-top 30px

	&__label
		display block
		margin-bottom 4px

	&__btn
		width 100%

		&+.form__group
			margin-top 12px

	&__checkbox
		display none

		&:checked
			&
				+ .form__checkbox-label
					&::before
						bgimage('/icons/icon-checked.svg')

		&-label
			font-rem(11)
			line(18,11)
			position relative
			padding 3px 0 3px 32px

			+breakpoint-md()
				font-rem(13)
				line(18,13)
				padding 1px 0 1px 32px

			&::before
				content ''
				position absolute
				left 0
				top 1px
				size(22px,22px)
				radius(2px)
				background-repeat no-repeat
				background-position center
				background-color $white

			a
				color $color-highlighted

			&--lg
				font-rem(16)
				line(24,16)