include ../_mixins

header.header
	.container
		.header__row
			.header__left
				a(href='#').header__logo
					+image('logos/logo.svg','Лого')

				.header__company-name
					span 1C-WiseAdvice. Дочерняя компания 1С

			.header__right
				nav.main-nav.js-main-nav.header__menu

					- let mainMenuItems= ['Тур','Возможности','Тарифы']
					+links-list(mainMenuItems)(class='main-nav__list')

					.main-nav__buttons
						a(href='#').btn-light.main-nav__btn Войти
						a(href='#').btn.btn--600.main-nav__btn Попробовать

					button.main-nav__toggle.js-main-nav__toggle

					.inner-menu.js-main-nav__inner-menu
						.inner-menu__container
							- let innerMenu = ['Тур','Денежные потоки','Автоматизация','Отчеты','Стоимость','Блог','О компании','Контакты']
							+links-list(innerMenu)(class='inner-menu__list')

							.inner-menu__contacts
								a(href='tel:+74959958258').inner-menu__phone +7 495 995 82 58
								- var borderedLinksText = ['Заказать обратный звонок','*****@*******.ru',];
								+bordered-links-list(borderedLinksText)

							a(href='#').btn-bordered.inner-menu__btn Войти в личный кабинет

							.inner-menu__bottom
								.inner-menu__company-logo
									+image('logos/logo.svg', 'Лого')

								.inner-menu__company-name
									span 1C-WiseAdvice. #[br.hide-up-to-lg] Дочерняя компания 1С
